@import "tailwindcss";

:root {
  --background: #d9d9d9;
  --foreground: #000000;

  --Orange10: #fef6e9;
  --Orange20: #fee3b8;
  --Orange30-Hover: #fed187;
  --Orange40: #febe56;
  --Orange50-Primary: #f9a825;
  --Orange60: #d78c13;
  --Orange70: #b57206;
  --Orange80: #935a00;
  --Orange90: #714500;
  --Orange100: #4f3100;

  --Black10: #f2f4f8;
  --Black20: #dde1e6;
  --Black30: #c1c7cd;
  --Black40: #a2a9b0;
  --Black50: #878d96;
  --Black60: #697077;
  --Black70: #4d5358;
  --Black80: #343a3f;
  --Black85-DarkGray: #333333;
  --Black90: #21272a;
  --Black100: #121619;

  --MarbleWhite: #f8f8f8;
  --WhiteGray: #e0e0e0;
  --Alert: #da1e28;
  --Warning: #f1c21b;
  --Success: #25a249;
  --Overlay: #121619;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Cores Orange (Você define o nome da classe após --color-) */
  --color-orange-10: var(--Orange10);
  --color-orange-20: var(--Orange20);
  --color-orange-30: var(--Orange30-Hover);
  --color-orange-40: var(--Orange40);
  --color-primary: var(
    --Orange50-Primary
  ); /* Dei o nome de 'primary' para facilitar */
  --color-orange-50: var(--Orange50-Primary); /* Ou mantenha a numeração */
  --color-orange-60: var(--Orange60);
  --color-orange-70: var(--Orange70);
  --color-orange-80: var(--Orange80);
  --color-orange-90: var(--Orange90);
  --color-orange-100: var(--Orange100);

  /* Cores Black/Gray */
  --color-black-10: var(--Black10);
  --color-black-20: var(--Black20);
  --color-black-30: var(--Black30);
  --color-black-40: var(--Black40);
  --color-black-50: var(--Black50);
  --color-black-60: var(--Black60);
  --color-black-70: var(--Black70);
  --color-black-80: var(--Black80);
  --color-darkgray: var(--Black85-DarkGray);
  --color-black-90: var(--Black90);
  --color-black-100: var(--Black100);

  /* Cores de Status e Neutras */
  --color-marble: var(--MarbleWhite);
  --color-white-gray: var(--WhiteGray);
  --color-alert: var(--Alert);
  --color-warning: var(--Warning);
  --color-success: var(--Success);
  --color-overlay: var(--Overlay);

  /* ... suas outras variáveis ... */
  --animate-infinite-scroll: scroll 40s linear infinite;

  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: hsl(0, 0%, 0%);
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
/* src/app/globals.css */

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}